```
# Flutter/Dart
.dart_tool/
.packages
flutter/bin/cache/

# Windows
windows/runner/Release/
windows/runner/Debug/
windows/runner/x64/
windows/runner/x86/
*.sln
*.vcxproj
*.vcxproj.filters
*.user
*.userosscache
*.sdf
*.opensdf
*.opendb
*.VC.db
*.VC.VC.opendb
ipch/
*.aps
*.pidb
*.log
*.ilk
*.iobj
*.ipdb
*_manifest.rc
*.tlog
*.exp
*.lib
*.metagen
*.bsc
*.plg
*.dmp
*.dump
*.map
*.err
*.out
*.pdb
*.pgc
*.pgd
*.ii
*.iis
*.asm
*.tlh
*.tli
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.cache
*.cod
*.to
*.tvsconfig
*.vssscc
*.vsi
*.pdbx
*.pdi
*.mdi
*.layout
*.cache
*.i
*.count
*.dia
```